{% extends 'base.html' %}

{% block content %}
<h1>Create a User</h1>
<form method="POST">
  <div>
    <label for="first_name">First Name</label>
    <div>
      <input type="text" id="first_name" name="first_name" placeholder="Enter your first name">
    </div>
  </div>
  <div>
    <label for="last_name">Last Name</label>
    <div>
      <input type="text" id="last_name" name="last_name" placeholder="Enter your last name">
    </div>
  </div>
  <div>
    <label for="image_url">Image URL</label>
    <div>
      <input type="text" id="image_url" name="image_url" placeholder="Add your image" </div>
    </div>
  </div>

</form>
{% endblock %}





</form>